@import '../bower_components/nib'
@import 'easing'
@import 'header'

global-reset()

$calendar-width = 310px

html, body
	height: 100%

body
	display: flex
	flex-direction: column
	margin: 0
	font-family: Arial, sans-serif

	header()

	main
		flex-grow: 1
		background: #222

		.day-number
			width: $calendar-width
			text-align: center
			font-size: 9rem
			color: #444

		.note
			width: 220px
			height: 120px
			position: absolute
			top: 200px
			left: 200px
			font-size: 0.9rem
